<p class="footer">
- <a href="https://github.com/weedy/wakarimasen/">wakarimasen beta</a>
+ <a href="http://www.2chan.net/">futaba</a>
+ <a href="http://www.1chan.net/futallaby/">futallaby</a>
-<br />
<!--<object id="adv" data="/include/common/desu.html" type="text/html" standby="desu desu desu"></object><br />-->
<a href="http://validator.w3.org/check?uri=referer"><img src="/include/common/valid-xhtml10-blue.png" alt="Valid XHTML 1.0 Transitional" style="border:none;" /></a>
<a href="http://s08.flagcounter.com/more/f8d"><img src="http://s08.flagcounter.com/count/f8d/bg=EEF2FF/txt=000000/border=9988EE/columns=4/maxflags=8/viewers=DollFags/labels=1/" alt="free counters" border="0"/></a>
</p>
