html, body {
         font-size:12pt;
         background:#EEF2FF;
         color:#000000;
}
a       {
        background:inherit;
        color:#34345C;
        text-decoration:none;
        font-family:sans-serif;
}
a:visited {
        background:inherit;
        color:#34345C;
        text-decoration:none;
        font-family:sans-serif;
}
a:hover {
        color:#DD0000;
        background:inherit;
        text-decoration:underline;
        font-family:sans-serif;
}
.adminbar {
        text-align:right;
        background:inherit;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        background:inherit;
        font-size:24pt;
        color:#AF0A0F;
        width:100%;
}
.theader {
        background:#0010E0;
        color:#FFFFFF;
        width:100%;
}
.postarea {
        background:inherit;
}
.rules {
        font-size:10px;
        font-family:sans-serif;
}
.postblock {
        background:#9988EE;
        color:#000000;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:10px;
        font-family:sans-serif;
}
.passvalid {
	background:#9988EE;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#0F8FE1;
	color:#000000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#9AD2F6;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.row2 {
        background:#FFFFFF;
        font-family:sans-serif;
        font-size:12px;
        color:#000000;
}
.unkfunc {
	color:#789922;
}
.filesize {
	font-size:12px;
	font-family:sans-serif;
	text-decoration:underline;
	padding-left:3em;
}
.filetitle {
	background:inherit;
	font-size:18px;
	font-family:serif;
	color:#0F0C5D;
	font-weight:800;
}
.postername {
	background:inherit;
	font-size:16px;
	font-family:serif;
	color:#117743;
	font-weight:800;
}
.oldpost {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F0C5D;
        font-weight:800;
}
.omittedposts {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#070707;
        font-weight:800;
}
.reply {
	background:#D6DAF0;
	color:#000000;
	font-family:serif;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
        background:inherit;
        font-size:18px;
        font-family:serif;
        color:#0F0C5D;
        font-weight:800;
}
.commentpostername {
        background:inherit;
        font-size:16px;
        font-family:serif;
        color:#117743;
        font-weight:800;
}
.thumbnailmsg {
	background:inherit;
	font-size:9px;
	font-family:sans-serif;
	color:#000000;
}

/* Desuchan Page Header */
div.page_header, div#futaba_style_header {margin-bottom:0.5em}
div.page_header {font-family: sans-serif; font-size:75%}
div#futaba_style_header {font-size:85%}
div.page_header #menu_title {display:inline;float:left;padding-right:3em;padding-left:3px;}
div.page_header #menu_title a:hover {background:inherit;color:red}
div.page_header a, div#futaba_style_header a {color: #34345C;text-decoration: none;}
div.page_header a:hover, div#futaba_style_header a:hover {color: #000000; background: #C6DAF0;}
div.page_header ul ul {display: none; background: #D6DAF0}
div.page_header ul {margin:0; padding:0; list-style:none}
div.page_header ul li {float:left; width:13em; text-align:left; background: #D6DAF0;}
div.page_header ul.show, div.page_header ul li:hover ul {display: block; position: absolute; width:13em; z-index:1000;}
div.page_header ul li {display: block; background: #D6DAF0}
div.page_header li a {display: block }
div.page_header ul li {font-weight: bold; text-align: left; padding-left:5px}
div.page_header ul li ul {border:1px solid #000000;margin-left:-5px;padding-right:5px}
div.page_header ul li ul li {font-weight: normal; text-align:left; position:relative;}
div.page_header ul li ul li:hover { background: #C6DAF0; }
