html, body {
         background:#FFFFEE;
         color:#800000;
}
a {
        color:#0000EE;
}
a:hover {
        color:#DD0000;
}
.adminbar {
        text-align:right;
        clear:both;
        float:right;
}
.logo {
        clear:both;
        text-align:center;
        font-size:2em;
        color:#800000;
        width:100%;
}
.theader {
        background:#E04000;
        text-align:center;
        padding:2px;
        color:#FFFFFF;
        width:100%;
}
.postarea {
}
.rules {
        font-size:0.7em;
}
.postblock {
        background:#EEAA88;
        color:#800000;
        font-weight:800;
}
.footer {
        text-align:center;
        font-size:12px;
        font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#EEEECC;
	color:#800000;
}
.row2 {
        background:#DDDDAA;
        color:#800000;
}
.unkfunc {
	background:inert;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#CC1105;
	font-weight:800;
}
.postername {
	color:#117743;
	font-weight:bold;
}
.postertrip {
	color:#228854;
}
.oldpost {
        color:#CC1105;
        font-weight:800;
}
.omittedposts {
        color:#707070;
}
.reply {
	background:#F0E0D6;
	color:#800000;
}
.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
        color:#CC1105;
        font-weight:800;
}
.commentpostername {
        color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}



.abbrev {
        color:#707070;
}
.highlight {
	background:#F0E0D6;
	color:#800000;
	border: 2px dashed #EEAA88;
}

/* Desuchan Page Header */
div.page_header, div#futaba_style_header {margin-bottom:0.5em}
div.page_header {font-family: sans-serif; font-size:75%}
div#futaba_style_header {font-size:85%}
div.page_header a, div#futaba_style_header a {color: #34345C;text-decoration: none;}
div.page_header a:hover, div#futaba_style_header a:hover {color: #000000; background: #C6DAF0;}
div.page_header ul ul {display: none; background: #D6DAF0}
div.page_header ul {margin:0; padding:0; list-style:none}
div.page_header ul li {float:left; width:13em; text-align:left; background: #D6DAF0;}
div.page_header ul.show, div.page_header ul li:hover ul {display: block; position: absolute; width:13em; z-index:1000;}
div.page_header ul li {display: block; background: #D6DAF0}
div.page_header li a {display: block }
div.page_header ul li {font-weight: bold; text-align: left; padding-left:5px}
div.page_header ul li ul {border:1px solid #000000;margin-left:-5px;padding-right:5px}
div.page_header ul li ul li {font-weight: normal; text-align:left; position:relative;}
div.page_header ul li ul li:hover { background: #C6DAF0; }
