{% include 'mini_head_include.html' %}
	<h1 style="text-align:center;font-size:1em">Deleting Post No.{{ num }}</h1>
	<form action="{{ get_script_name() }}" method="post" id="delform">	
	<input type="hidden" name="board" value="{{ board.name }}" />
	<input type="hidden" name="task" value="delete" />
	<input type="hidden" name="num" value="{{ num }}" />
	<input type="hidden" name="fromwindow" value="1" />
	<p style="text-align:center">
		{{ strings.PROMPTPASSWORD }}<input type="password" name="password" size="8"/>
		<br />
		[<label><input type="checkbox" name="fileonly" value="on" />{{ strings.DELPICONLY }}</label>]
		<input value="Delete" type="submit" />
	</p>
	<script type="text/javascript">set_delpass("delform")</script>
	</form>
{% include 'mini_foot_include.html' %}