
<html>
<head>
<title>Oekaki Animation</title>
<style type="text/css">
body { background: #9999BB; font-family: sans-serif; }
input,textarea { background-color:#CFCFFF; font-size: small; }
table.nospace { border-collapse:collapse; }
table.nospace tr td { margin:0px; } 
.menu { background-color:#CFCFFF; border: 1px solid #666666; padding: 2px; margin-bottom: 2px; }
</style>
</head>
<body>
<table class="nospace" width="100%" height="100%"><tbody><tr>
<td width="100%">
<applet name="pch" code="pch2.PCHViewer.class" codebase="./" archive="PCHViewer.jar" width="100%" height="100%">
<param name="pch_file" value="{{ pch_file }}" />
<param name="tt.zip" value="tt_def.zip" />
<param name="res.zip" value="res.zip" />
<param name="speed" value="0" />
<param name="buffer_canvas" value="true" />
<param name="buffer_progress" value="true" />
</applet>
</td>
</tr>
</tbody>
</table>
</body>
</html>