{% include 'mini_head_include.html' %}
	<h1 style="text-align:center;font-size:1em">Now Editing Post No.{{ num }}</h1>
	{% if not admin_post %}
		<form action="{{ get_script_name() }}?board={{ board.name }}" method="post" id="delform">	
		<input type="hidden" name="task" value="editpostwindow" />
		<input type="hidden" name="board" value="{{ board.name }}" />
		<input type="hidden" name="num" value="{{ num }}" />
		<p style="text-align:center">
			{{ strings.PROMPTPASSWORD }}
			<input type="password" name="password" size="8" />
			<input value="Edit" type="submit" />
		</p>
		<script type="text/javascript">set_delpass("delform")</script>
		</form>
	{% endif %}
	{% if admin_post %}
		<p style="text-align:center">{{ strings.PROMPTPASSWORDADMIN }}</p>
	{% endif %}
{% include 'mini_foot_include.html' %}